.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') HTML5 Hacks: UI Interactions
      .nav-collapse
        ul.nav
          li
            a(href='/example1') Drap and Drop
          li
            a(href='/example2') Editable
          li
            a(href='/example3') HTML5 Session History